.custom_button {
    align-items: center;
    padding: 1.5vw 1.25vw 1.5vw 1.25vw;
    font-size: clamp(14px, 2vw, 18px);
    margin-bottom: 1vw;
    border: none;
    color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.full_width {
    width: 100%;
}
.custom_button .row {
    margin: 0;
}
.custom_button .row .col-2,
.custom_button .row .col-10 {
    margin: 0;
}
.custom_button:hover {
    color: #fff;
}
.custom_button a,
.custom_button a:hover {
    all: unset;
}
