:root {
    --primary-color: #3a4052;
}

a {
    text-decoration: none;
}

.home h1 {
    font-family: "LatoBold";
    font-size: clamp(30px, 4vw, 60px);
    text-transform: uppercase;
}

.home h3 {
    font-family: "LatoLight";
    font-size: clamp(12px, 3vw, 16px);
    line-height: 1.2;
    padding: 10px 20px 30px 20px;
    text-transform: lowercase;
}

.showcase {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 0 20px;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.video-container:after {
    content: "";
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
}

.content {
    z-index: 2;
}

#about {
    padding: 40px;
    text-align: center;
}

#about p {
    font-family: "LatoRegular";
    font-size: clamp(12px, 3vw, 16px);
    max-width: 600px;
    margin: auto;
}

#about h2 {
    font-family: "LatoBold";
    font-size: clamp(16px, 3vw, 30px);
    margin: 30px 0;
    color: var(--primary-color);
    text-transform: uppercase;
}

.social {
    display: flex;
    justify-content: center;
}

.social .social__icon {
    padding: 1vw;
}
