.login {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "LatoRegular";
  }
  .login__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #DCDCDC;
    border-radius: 9px;
    padding: 30px;
  }
  .login__textBox {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
  }