.product-container {
    background-color: #FFF;
    padding: 7.5px;
}

.product {
    border: 2px solid black; 
    border-radius: 8px; 
    padding-left: 25px;
    padding-top: 20px;  
    padding-bottom: 20px;
    padding-right: 20px;
}