.register {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.register__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #DCDCDC;
    border-radius: 10px;
    padding: 30px;
}
.register__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
}
.register div {
    margin-top: 7px;
}
