/* Color constants */
:root {
    --onyx: '#393D3F';
    --teal: "#62929E";
    --gray: "#F4F4ED";
    --blue: "#546A7B";
    --orange: "#DA7635";
}

.main {
    margin: 16px;
}

/* Font availability */
.font-satisfy {
    font-family: "SatisfyRegular";
}

.font-lato-light {
    font-family: "LatoLight";
}

.font-lato-regular {
    font-family: "LatoRegular";
}

.font-lato-bold {
    font-family: "LatoBold";
}

.link-color {
    color: "#345995";
}
