@font-face {
    font-family: "SatisfyRegular";
    src: local("SatisfyRegular"),
        url("./fonts/Satisfy/Satisfy-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "LatoLight";
    src: local("LatoLight"),
        url("./fonts/Lato/Lato-Light.ttf") format("truetype");
    font-weight: light;
}

@font-face {
    font-family: "LatoRegular";
    src: local("LatoRegular"),
        url("./fonts/Lato/Lato-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "LatoBold";
    src: local("LatoBold"),
        url("./fonts/Lato/Lato-Bold.ttf") format("truetype");
    font-weight: bold;
}

body {
    background-color: var(--gray);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
